* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#products-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin: 20px;
  flex-wrap: wrap;
}

.product-card {
  background-color: antiquewhite;
  padding: 1rem 1.6rem;
  border-radius: 16px;
  line-height: 2rem;
  width: 350px;
  min-width: 350px;
  cursor: pointer;
  transition: all ease-in-out;
}

.product-card div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card div span {
  color: green;
}
