@import './variables';

@mixin base-container{
    width: 80%;
    margin: 0 auto;
}

@mixin button {
    border-radius: 6px;
    padding: 10px 20px;
    background-color: transparent;
    color: $color-black;
    font-weight: 600;
    outline: none;
    border: none;
    cursor: pointer;
    width: fit-content;
}