// =============== Colors ============================
// Neutral colors
$color-black : #263238;
$color-dark-grey : #4D4D4D;
$color-grey : #717171;
$color-light-grey : #89939E;
$color-grey-blue : #ABBED1;
$color-silver : #F5F7FA;
$color-white : #FFFFFF;

// Primary colors
$color-primary : #4caf4f;
$color-secondary : #263238;
$color-info : #2194F3;

// Primary Green Color Shades
$primary-shade-1 : #43A046;
$primary-shade-2 : #388e3b;
$primary-shade-3 : #237D31;
$primary-shade-4 : #1b5e1f;
$primary-shade-5 : #103e13;

// Primary Green Color Tint
$primary-tint-1 : #66bb69;
$primary-tint-2 : #81c784;
$primary-tint-3 : #a5d6a7;
$primary-tint-4 : #c8e6c9;
$primary-tint-5 : #e8f5e9;

// Action colors
$color-warning : #fbc02d;
$color-error : #e53835;
$color-success : #2e7d31;

// =================== Typography =====================
// Headlines
$title-size-1 : 64px;
$title-size-2 : 36px;
$title-size-3 : 28px;
$title-size-4 : 20px;

// paragraph
$p-regular-size-1 : 18px;
$p-regular-size-2 : 16px;
$p-regular-size-3 : 14px;
$p-regular-size-4 : 12px;

$p-medium-size-1 : 18px;
$p-medium-size-2 : 16px;
$p-medium-size-3 : 14px;
$p-medium-size-4 : 12px;